.bg-img {
    background-image: url('../images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.HEADER {
    padding: 100px;
}

.ft-text {
    color: black;
    font-size: 19px;
}
@media (max-width: 900px) {
    .ft-text {
        font-size: 12px;
        margin-top:15px !important;
        margin-bottom: 10px;
    }
    .bg-img{
        height: fit-content;
    }
    .HEADER {
        padding: 50px;

    }
}
@media (max-width: 576px) {
    .ft-text {
        font-size: 12px;
    }

    .HEADER {
        padding: 50px;

    }
}

.icons {
    font-size: 20px;
}

.line {
    border: none;
    border-radius: 5px;
    border-top: 4px solid #cf3f9a;
    width: 40%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.ft-footer-p {
    margin-left: 4px;
    font-size: 15px;
}